{% load static %}
<!DOCTYPE html>

<html>
<head>
  <title>Simulator</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/stock/highstock.src.js"></script>
</head>

<body class="container" style="max-width: 1000px; margin: auto;">
  <div id="information" style="margin-top: 10px; ">
    <p style="display:contents;"> 최종 업데이트: {{ last_update }} </p>
    <button type="button" id='update-btn' onclick="update();">업데이트</button>   
    <label id="update-status" style='display: inline-block'>
  </div>
  </br>
  <div id="futures-chart" style="margin: auto; max-width: 900px;"></div>
  </br>
  <div style='margin-bottom: 30px'>
    <table style="width: 90%; margin:auto; border: 1px solid black;">
     <tr>
        <th style='width:12.5%'>Sector 1</th>
        <th style='width:12.5%'>Sector 2</th>
        <th style='width:12.5%'>Sector 3</th>
        <th style='width:12.5%'>Sector 4</th>
        <th style='width:12.5%'>Sector 5</th>
        <th style='width:12.5%'>Sector 6</th>
        <th style='width:12.5%'>Sector 7</th>
        <th style='width:12.5%'>Sector 8</th>
     </tr>
     <tr>
        {% for sector in sectors%}
         <td valign="top"> {% for instrument in sector %} 
            <button style="width: 100%" 
                onclick="draw('{{instrument.code}}','{{instrument.name}}')">
                {{instrument.name}}
            </button></br>
              {% endfor %}
        </td>
        {% endfor %}
    </table>
  </div>
  <div>
   {% for  instrument in instruments  %}
    <button onclick="draw('{{instrument.code}}','{{instrument.name}}')">
        {{instrument.name}}</button>
    </button>
   {% endfor %}
  </div>
  </br>
</body>
<script>
var chart = Highcharts.stockChart('futures-chart', {
        chart: { height: '75%' },
        xAxis: [{crosshair:{snap:false}},{}],
        yAxis: [{
            crosshair: {snap: false},
            labels: {
                align: 'left'
            },
            height: '80%',
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'left'
            },
            top: '80%',
            height: '20%',
            offset: 0
        }],
        tooltip: {
            shape: 'square',
            headerShape: 'callout',
            borderWidth: 0,
            shadow: false,
            positioner: function (width, height, point) {
                var chart = this.chart,
                    position;

                if (point.isHeader) {
                    position = {
                        x: Math.max(
                            // Left side limit
                            chart.plotLeft,
                            Math.min(
                                point.plotX + chart.plotLeft - width / 2,
                                // Right side limit
                                chart.chartWidth - width - chart.marginRight
                            )
                        ),
                        y: point.plotY
                    };
                } else {
                    position = {
                        x: point.series.chart.plotLeft,
                        y: point.series.yAxis.top - chart.plotTop
                    };
                }

                return position;
            }
        },
        rangeSelector: {
            allButtonsEnabled: true,
            buttons: [{
                type: 'all',
                text: 'All',
            }, {
                type: 'year',
                count: 3,
                text: '3Y',
            }, {
                type: 'year',
                count: 1,
                text: '1Y',
            }, {
                type: 'month',
                count: 6,
                text: '6m',
            }],
            selected: 2
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    rangeSelector: {
                        inputEnabled: false
                    }
                }
            }]
        }
        });

function draw(code, name){
    url = "/chart/"+code
    while(chart.series.length > 0){
        chart.series[0].remove(true);
    };
    
    $.get(url, function( data ) {
        var data = data;
        var ohlc = [],
        volume = [],
        dataLength = data.length,
        i = 0;

        for (i; i < dataLength; i += 1) {
            ohlc.push([
                data[i][0], // the date
                data[i][1], // open
                data[i][2], // high
                data[i][3], // low
                data[i][4] // close
            ]);

            volume.push([
                data[i][0], // the date
                data[i][5] // the volume
            ]);
        }

        chart.setTitle({ text: name });
        chart.addSeries( {
                type: 'ohlc',
                id: 'ohlc',
                name: 'Price',
                color: 'black',
                data: ohlc,
                yAxis: 0
            });

        chart.addSeries( {
                type: 'column',
                id: 'volume',
                name: 'Volume',
                color: 'cyon',
                pointWidth: '2',
                data: volume,
                yAxis: 1
            });
    });
};

function update(){
    $('#update-btn').prop('disabled', true);
    var obj = $('#update-status');
    
    // data == true : 업데이트 진행중
    // data == false: 진행 완료
    $.get("/update?action=start", function( data ) {
      if (data==true){
        var i = 0;
        var timer = setInterval(function() {
            $.get("/update", function(data){
                s = '.'.repeat(i%5);
                obj.text('('+i+'s)'+'  업데이트중.'+s);
                i++;
                if (data==false){
                    location.reload();
                    clearInterval(timer);
                } 
            })
        }, 1000);
      }
    });
};

</script>
</html>